div#root {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 250%;
}

span {
  margin: -7px 7px 0 0;
  font-size: 150%;
  color: brown;
}

button {
  font-size: 75%;
}
